
@{
    ViewBag.Title = "用户管理";
}

<table id="dg_user"></table>

<div id="dg_user_toolbar">

</div>

@section scripts{
    <script src="~/js/user/index.js"></script>
    <script src="~/js/common.js"></script>
}